

/* 
.row{
  display:flex;
  flex-wrap: wrap;
  padding:0; 
}
.lead{
  text-align:center;
}


.calendar-img{
  width:25px;
  height:35px;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: black;
  text-align: center;
}