

/* 
.row{
  display:flex;
  flex-wrap: wrap;
  padding:0; 
}
.lead{
  text-align:center;
}


.calendar-img{
  width:25px;
  height:35px;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  color: black;
  text-align: center;
}

 /* Extra small devices (portrait phones, less than 576px) */
 /* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) 

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) 

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 